numpy<2.0.0
opencv-python-headless==4.7.0.72
opencv-contrib-python==4.7.0.72
onnxruntime==1.18.1
requests
shapely
pyclipper
scikit-image
imgaug
lmdb
tqdm
pymupdf
pdf2image
pillow>=10.0.0
PySide6>=6.7.0
